body {
  margin: 0;
  font: normal 500 1rem 'roboto condensed',sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css */
.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 1rem;
  color:white;
}

.fighter{
  background-color: #252530;
  color: white;
}

.fighter img{
  background-color: black;
}

.fighter .atributos{
  padding-top: 1.5em;
  border-top: 1px solid #444;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  gap: 1rem;
}

.fighter .atributo .titulo{
  text-transform: uppercase;
  font-size: 87.5%;
  color: #aaa;
}

.fighter .atributo .valor{
  font-size: 125%;
}

h1{
  font-weight: 800;
  font-size: 3rem;
}